@using _06_IdentityProject.Web.Entities
@model List<AppRole>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" asp-controller="Role" class="d-inline-block my-2">Yeni Rol Ekle</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>CreatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>

