@{
    ViewData["Title"] = "Home Page";
}

@model List<WorkListDto>


<div class="container my-2">
    <table class="table table-hovered table-bordered table-sm">
        <thead>
            <tr>
                <th>Definition</th>
                <th>Is Completed</th>
            </tr>        
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Definition</td>
                    <td>@(item.IsCompleted ? "Tamamlandı" : "Tamamlanmadı")</td>
                </tr>
            }
        </tbody>
    </table>
</div>