<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      @await Html.PartialAsync("Partials/_NavbarPartial.cshtml")
      @RenderSection("Header", false)
    </header>

    <div class="container mt-3">
      <main>@RenderBody()</main>
    </div>
  </body>
</html>
