@model ProductListViewModel

@if (Model.Products.Count() == 0)
{
    <p>Ürün Bulunamadı</p>
}

@foreach(var p in Model.Products)
{
    <div>
        <h4>@p.Name</h4>
        <p>@p.Description</p>
        <p>@p.Price</p>
    </div>
}

@for(var i = 1; i <= Model.PageInfo.TotalPages; i++)
{
    <a href="/?page=@i">@i</a>
}
