@using _06_IdentityProject.Web.Entities
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" asp-controller="User" class="d-inline-block my-2">Yeni Kullanıcı Ekle</a>
<table class="table table-hovered table-bordered table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Gender</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>

