@model RoleCreateModel
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Role" method="post" class="p-4 w-75 mx-auto shadow">
    <div class="mb-3">
        <label>Rol Adı</label>
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
        <input asp-for="Name" class="form-control" />
    </div>   
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

    <div class="text-danger mt-2" asp-validation-summary="ModelOnly"></div>
</form>


