@model LoginViewModel

<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1>Login</h1>
            <form action="Login" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" id="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" id="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>