
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Bir Hata Oluştu</h1>
<div class="text-center lead">
    Aradığınız sayfa bulunamadı. <a asp-action="Index">Ana Sayfaya Dön</a>
</div>

